@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1c2230;
    font-family: 'Raleway', sans-serif;
}

ul li {
    list-style: none;
}

ul li a { 
    text-decoration: none;
}

/* NAVBAR */

.navbar-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .menu ul {
    display: flex;
    justify-content: center;
}

.navbar-container .menu ul li {
    margin-left: 25px;
}

.navbar-container .menu ul li a {
    color: #fcfefdc6;
}

/* FIRST DIV */

.first-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fcfefd;
}

.first-div-img img {
    max-width: 400px;
}

.first-div-text-header {
    margin-top: 30px;
    font-size: 16px;
}

.first-div-text {
    margin-top: 30px;
    font-weight: 300;
    font-size: 12px;
}

.first-div-button button{
    padding: 15px 80px;
    color: #fcfefd;
    border-radius: 50px;
    margin-top: 30px;
    background: linear-gradient(to right, #6262f1, #96d0f7);
    cursor: pointer;
    border: none;
}

/* SECOND DIV */

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fcfefdad;
    margin: 150px 150px;

}

.items .item1 , .item2 , .item3 , .item4 {
    width: 300px;
    margin: 0 50px;
}

.item1 .heading , .text {
    font-size: 12px;
}

.item2 .heading , .text {
    font-size: 12px;
}

.item3 .heading , .text {
    font-size: 12px;
}

.item4 .heading , .text {
    font-size: 12px;
}

.items .items-first-row {
    display: flex;
    margin-bottom: 80px;
}

.items .items-second-row {
    display: flex;
}

.items .item1 img {
    margin-bottom: 20px;
}

.items .item1 h2 {
    margin-bottom: 20px;
}

.items .item2 img {
    margin-bottom: 10px;
}

.items .item2 h2 {
    margin-bottom: 20px;
}

.items .item3 img {
    margin-bottom: 10px;
}

.items .item3 h2 {
    margin-bottom: 20px;
}

.items .item4 img {
    margin-bottom: 20px;
}

.items .item4 h2 {
    margin-bottom: 17px;
}

/* THIRD DIV */

.third-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-div .third-div-img img {
    max-width: 450px;
}

.third-div-header {
    margin-bottom: 30px;
    color: #fcfefd;
}

.third-div-text {
    color: #fcfefdad;
}

.third-div-text p a {
    text-decoration: none;
    color: #fcfefdad;
    display: flex;
    align-items: center;
}

.third-div-text a:hover {
    border-bottom: solid 2px #fcfefdad;
}

/* FOURTH DİV */

.fourth-div {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 50px auto;
    position:relative;
}

.fourth-div-box {
    width: 400px;
    height: 200px;
    background-color: #21293c;
    margin:10px;
    padding: 30px;
    border-radius: 5px;
}

.fourth-div-tex p {
    font-size: 15px;
    background-color: #21293c;
    margin-bottom: 20px;
    color: #fcfefdad;
}

.fourth-div-user {
    display: flex;
    align-items: center;
    background-color: #21293c;
}

.fourth-div-user-img img {
    width: 40px;
    border-radius: 50%;
}

.fourth-div-user-img {
    background-color: #21293c;
}

.fourth-div-user-name {
    background-color: #21293c;
}

.fourth-div-user-name h4 , .fourth-div-user-name p{
    background-color: #21293c;
    color: #fcfefdad;
    margin-left:10px;
}

.quotes img {
    position: absolute;
    top: -50px;
}

/* FIFTY DIV */

.fifth-div {
    width: 800px;
    height: 300px;
    margin: 100px auto 50px auto;
    background-color: #181e2a;
    text-align: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    z-index: 1;
}

.fifth-div-info h1 {
    /* position: absolute; */
    /* top: 50px; */
    /* left: 230px;
    right: 230px; */
    color: #fcfefdad;
    padding-top: 50px;
}

.fifth-div-info-p {
    position: absolute;
    top: 130px;
    left: 100px;
    right: 100px;
    font-size: 13px;
    color: #fcfefdad;
}

.fifth-div-inputs {
    position: absolute;
    top: 200px;
    left: 100px;
    right: 100px;
    font-size: 13px;
    color: #fcfefdad;
}

.fifth-div-info h1 , .fifth-div-info p {
    background-color: #181e2a;
}

.fifth-div-inputs {
    display: flex;
    background-color: #181e2a;
    justify-content: space-around;
}

.fifth-div-email-input {
    background-color: #181e2a;
}

.fifth-div-email-input input {
    width: 350px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
}

.fifth-div-submit-input {
    background-color: #181e2a;
}

.fifth-div-submit-input button {
    width: 175px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, #6262f1, #96d0f7);
    color: #fcfefdad;
    cursor: pointer;
}

/* FOOTER */

.footer {
    position: relative;
}

.footer-items {
    padding: 100px 100px;
    background-color: #0c1524;
    position: absolute;
    top: -100px;
}

.footer-header {
    background-color: #0c1524;
}

.footer-header img {
    background-color: #0c1524;
    margin-bottom: 50px;
    width: 120px;
}

.footer-object {
    background-color: #0c1524;
    display: flex;
    justify-content: center;
    align-items:baseline;
}

.footer-about-us ul li {
    background-color: #0c1524;
}

.footer-about-us ul li a {
    background-color: #0c1524;
}

.footer-contact-us ul li {
    background-color: #0c1524;
}

.footer-contact-us ul li a {
    background-color: #0c1524;
}

.footer-address {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #0c1524;
}

.footer-address i {
    background-color: #0c1524;
    color: #fcfefdad;
    margin-right: 20px;
}

.footer-address p {
    background-color: #0c1524;
    color: #fcfefdad;
    font-size: 14px;
    line-height: 200%;
}

.footer-phone-email {
    width: 30%;
    margin-left: 40px;
}

.footer-phone {
    display: flex;
    align-items: baseline;
    background-color: #0c1524;
    color: #fcfefdad;
}

.footer-phone i{
    background-color: #0c1524;
    color: #fcfefdad;
    margin-right: 20px;
}

.footer-phone p{
    background-color: #0c1524;
    color: #fcfefdad;
    font-size: 14px;
    line-height: 200%;
}

.footer-email {
    display: flex;
    align-items: baseline;
    background-color: #0c1524;
    color: #fcfefdad;
}

.footer-email i{
    background-color: #0c1524;
    color: #fcfefdad;
    margin-right: 20px;
}

.footer-email p{
    background-color: #0c1524;
    color: #fcfefdad;
    font-size: 14px;
    line-height: 200%;
}

.footer-about-us {
    width: 13%;
}

.footer-about-us ul li a{
    color: #fcfefdad;
    line-height: 200%;
}

.footer-contact-us {
    width: 13%;
}

.footer-contact-us ul li a{
    color: #fcfefdad;
    line-height: 200%;
}

.footer-logos {
    width: 13%;
    background-color: #0c1524;
}

.footer-logos a i {
    color: #fcfefdad;
    background-color: #0c1524;
}

.footer-logos a {
    color: #fcfefdad;
    background-color: #0c1524;
    margin-right: 20px;
}

@media only screen and (max-width: 700px) {
    .second-div .items-first-row {
        display: flex;
        flex-direction: column;
    }
    .second-div .items-first-row .item1 {
        margin-bottom: 80px;
    }
    .second-div .items-second-row {
        display: flex;
        flex-direction: column;
    }
    .second-div .items-second-row .item3 {
        margin-bottom: 80px;
    }
    .fifth-div {
        width: 100%;
    }
    .fifth-div .fifth-div-info .fifth-div-info-h2 {
        margin: 0 auto;
    }
    .fifth-div-inputs {
        display: flex;
        flex-direction: column;
    }
    .fifth-div-inputs .fifth-div-email-input{
        margin-bottom: 20px;
    }

    /* FOOTER */

    .footer-object {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: baseline;
    }
    .footer-address {
        width: 90%;
    }
    .footer-phone-email {
        width: 90%;
        margin-top: 50px;
    }
    .footer-about-us {
        width: 90%;
        margin-top: 50px;
    }
    .footer-contact-us {
        width: 90%;
        margin-top: 50px;
    }
    .footer-logos {
        display: flex;
        margin-top: 50px;
    }
}
@media only screen and (max-width: 1170px) {
    .fourth-div {
        display: flex;
        flex-direction: column;
    }
    .fourth-div .quotes {
        position: absolute;
        left: 30px;
        top: 0;
    }
    .third-div {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .third-div .third-div-img img {
        max-width: 300px;
    }
}